.demo {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 10px 30px;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.demo form label {
	display: block;
	font-weight: normal;
}

#funnel {
	width: 300px;
	height: 400px;
}
