.demo {
	display: flex;
	padding: 10px 30px;
	align-items: center;
	justify-content: center;
}

.demo form label {
	display: block;
	font-weight: normal;
}

#funnel {
	width: 300px;
	height: 400px;
}
