body
{
	text-align : center;
}
.container
{
	width : 400px;
	padding : 10px;
	margin : 0px auto;
}
#funnel
{
	width : 350px;
	height : 400px;
	margin : 0px auto;
}
select
{
	padding : 8px;
	margin-bottom : 10px;
}
