root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[**.js]
indent_style = tab

[examples/**.html]
indent_style = tab

[examples/**.css]
indent_style = tab
