// Cayman overrides
$body-text-color: #444;
$code-text-color: #465e6a;
$header-bg-color: #3498db;
$header-bg-color-secondary: #2c3e50;
$section-headings-color: #2079b5;
$blockquote-text-color: #576266;

@import "cayman";

.main-content {
  h1,
  h2,
  h3 {
    font-weight: bold;
  }
}

.demo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;

  form label {
    display: block;
    font-weight: normal;
  }
}

.demo-funnel {
  width: 320px;
  height: 400px;
  margin-right: 50px;
}
