body {
	text-align: center;
}

.container {
	width: 400px;
	padding: 10px;
	margin: 0 auto;
}

select {
	padding: 8px;
	margin-bottom: 10px;
}

#funnel {
	width: 300px;
	height: 400px;
	margin: 0 auto;
}
