name: Build
on: push
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [20, 22, 24]
    steps:
      -
        uses: actions/checkout@v3
      -
        name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      -
        name: Install dependencies
        run: yarn install
      -
        name: Install Playwright
        run: npx playwright install --with-deps firefox
      -
        name: Run tests
        run: npm run test && npm run build
